
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.div-principal{
  display: flex;
}

.left-side{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh; /*Deixando 100vh funciona perfeitamente mas o footer acaba escondido*/
  width: 50%;
}

.text-left{
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
  color: #3f3f46;
}

.text-left2{
  font-size: 48px;
  color: #740cfc;
}

.form-side{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh; /*Deixando 100vh funciona perfeitamente mas o footer acaba escondido*/
  width: 50%;
  background-color: #F4F4F5;
}

.form-side img{
  margin-bottom: 50px;
}

.input-div {
  flex-direction: column;
  display: flex;
}

.inputs{
  height: 60px;
  width: 470px;
  margin-bottom: 20px;
  padding-left: 30px;
  border: transparent;
  color: #52525B;
}

.forget-password{
  margin-top: 20px;
  padding-left: 30px;
  font-size: 12px;
}

.form-side button {
  width: 336px;
  height: 52.73px;
  border: transparent;
  border-radius: 50px;
  margin-top: 20px;
  color: #fff;
  background-color: #D4D4D8;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #740CFC;
  color: #fff;
}

.footer p {
  font-size: 12px;
}

@media (max-width: 960px) {
  .left-side {
    display: none;
  }

  .form-side {
    width: 100%; /* Faz o formulário ocupar toda a largura */
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .text-left2 {
    font-size: 36px; /* Reduz o tamanho do texto para telas menores */
  }

  .inputs {
    max-width: 300px;
  }

  .form-side button {
    max-width: 250px;
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    background-color: #740CFC;
    color: #fff;
  }
  .footer p {
    font-size: 10px;
  }
}